### Question 1 : Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [1]:
def extract_company(email):
    extr1=email.split("@")[1].split(".")[0]
    print("Extracting company name from {0} is:{1}".format(email,extr1))
    
extract_company("sivaram@hitech.com")

Extracting company name from sivaram@hitech.com is:hitech

### Question 2 : Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [17]:
def sort_commasepstring(str1):
    list1=str1.split(",")
    list2=sorted(list1)
    str2=""
    for i in range(len(list2)):
        if(i!=len(list2)-1):
            str2+=list2[i]+","
        else:
            str2+=list2[i]
    print("after sorting the comma seperated string:",str2)
    
sort_commasepstring("without,hello,bag,world")

after sorting the comma seperated string: bag,hello,without,world

### Question 3: Create your own Jupyter Notebook for Sets. Reference link:

In [22]:
#Creating set
set1 = {"surya", "siva", "satya"}
print(set)

#Accessing set
set2 = {"krishna", "hari", "murali"}
for i in set1:
    print(set1)

#Adding item
s1 = {10,20,30,40,50}
s1.add(60)
print(s1)

#Updating item
s1 = {10,20,30,40,50}
s1.update([70,80,90])
print(s1)

#length of set
s1 = {30,40,50,60}
print(len(s1))
          
          
#remove item from set
s1 = {10,20,30,40,50,60}
s1.remove(20)
print(s1)

#discard an item from set
s1 = {10,20,30,40,50,60}
s1.discard(200)
print(s1)

#Pop an item
s1 = {10,20,30,40,50,60}
r = s1.pop()
print(s1,r)

#Clear an item
s1 = {10,20,30,40,50,60}
s1.clear()
print(s1)

#delete 
set3 = {"Car", "bike", "Trolley"}
del set3
# print(set3) # If we print this line, set3 is deleted, so the output will be displayed as 'set3 name is not defined'.

s1 = {10,20,30,40}
s2 = {40,50,60,20}
s3 = s1.union(s2)
print(s3)

<class 'set'>
{'surya', 'siva', 'satya'}
{'surya', 'siva', 'satya'}
{'surya', 'siva', 'satya'}
{40, 10, 50, 20, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 30}
4
{40, 10, 50, 60, 30}
{40, 10, 50, 20, 60, 30}
{10, 50, 20, 60, 30} 40
set()
{40, 10, 50, 20, 60, 30}

### Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [27]:
def find_missingno(list1):
    for i in range(list1[0],len(list1)):
        if i not in list1:
            print("{0} is missing number".format(i))

list1=[1,3,4,5,6,7]
find_missingno(list1)

2 is missing number

### Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [1]:
def remove_duplicates(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    return list2

list1=[12,24,35,24,88,120,155,88,120,155]
remove_duplicates(list1)

[12, 24, 35, 88, 120, 155]